*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 20px;
    color:white;
}
nav{
    background-color:#363062;
    display: grid;
    place-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust as needed for spacing */
    z-index: 100; /* Ensures it's above other content */
}

nav ul{
    list-style-type:none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s ease-in
}
nav ul a:hover{
    background-color: #4D4C7D;
    color: white;
}
.items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px;
    grid-row-gap: 50px;
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none;
    background-color:#363062 ;
    color:#F5F5F5;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
a{
    text-align: center;
    text-decoration: none;
}
.item button:hover{
    transform: scale(1.02);
}

@media  screen and (max-width:1000px) {
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width:768px) {
    .items{
        grid-template-columns: repeat(1,1fr);
    }
}


/* car details */
.car-details{
    font-size: 20px;
    margin: 20px 100px;

}
.car-details img{
    width: 50%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.car-details ul li{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:#000;
    font-size: 18px;
    transition: 0.2s ease-in
}
/* contact */
